
.button_edit{
    width: 120px;
    height: 28px;
    color: white;
    background-color:rgb(220 90 52);
    border-color:rgb(220 90 52);
    border-radius: 5px;
    padding: 10px 25px;
    font-size: 14px;
    box-shadow: 2px 2px 2px rgb(220 90 52);
    display: flex;
    justify-content: center;
    align-items: center; 
    /* margin-right: 10px; */
}
.button_edit::before {
    content: '';
    position: relative;
    top: 0;
    left: -10px;
    width: 15px;
    height: 15px;
    background: url('./images/edit.png') center no-repeat;
  }

.button_delete {
    width: 120px;
    height: 28px;
    color: white;
    background-color:rgb(220 90 52);
    border-color:rgb(220 90 52);
    border-radius: 5px;
    padding: 10px 25px;
    font-size: 14px;
    box-shadow: 2px 2px 2px rgb(220 90 52);
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 10px ; */

}

.list_item {
    display: flex;
    align-items: center;
    padding: 10px 60px 10px 60px;
    gap: 20px;
    flex-wrap: wrap;
    border: solid #64656147 2px;

}


.datas_box {
    display: flex;
    flex-grow: 15;
    gap: 50px;
}

.buttons_box {
    display: flex;
    gap: 10px;
    margin-left: 40px;

 
}

.datas_firstname{
    flex-grow: 15;
}
.datas_phone{
    flex-grow: 0;
}